<div class="page-content">
<app-admin-menu></app-admin-menu>
<div class="main-content">
  <div class="search-and-add">
    <app-search-input (valueChange)="filterShips($event)"></app-search-input>
    <button *ngIf="!showAddShipForm" (click)="showAddShipForm = true">Додати корабель</button>
    <div *ngIf="showAddShipForm">
      <app-add-ship-form 
        (onSuccess)="handleAddSuccess()" 
        (onCancel)="handleAddCancel()">
      </app-add-ship-form>
    </div>
  </div>
  
  <div class="table-container">
    <table>
      <thead class="sticky-header">
        <tr>
          <th style="width: 10vh;">Назва</th>
          <th>Опис</th>
          <th style="width: 10vh;">Ціна</th>
          <th style="width: 10vh;">Кількість</th>
          <th style="width: 14vh;"></th>
          <th style="width: 10vh;">Дії</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ship of filteredShips">
          <td>
            <input *ngIf="editedShipId === ship.id.toString()" type="text" [(ngModel)]="tempShipChanges.name">
            <ng-container *ngIf="editedShipId !== ship.id.toString()">
              {{ ship.name }}
            </ng-container>
          </td>
          <td>
            <div class="cell-content">
            <input *ngIf="editedShipId === ship.id.toString()" type="text" [(ngModel)]="tempShipChanges.description">
            <ng-container *ngIf="editedShipId !== ship.id.toString()">
              {{ ship.description }}
            </ng-container>
          </div>
          </td>
          <td>
            <input *ngIf="editedShipId === ship.id.toString()" type="number" [(ngModel)]="tempShipChanges.price">
            <ng-container *ngIf="editedShipId !== ship.id.toString()">
              {{ ship.price }}
            </ng-container>
          </td>
          <td>{{ ship.count }}</td>
          <td><img [src]="MEDIA_URL + ship.image" alt="Ship Image"></td>
          <td>
            <ng-container *ngIf="editedShipId === ship.id.toString(); else editButtons">
              <app-put-button 
                [data]="tempShipChanges"
                endpoint="admin/ships/"
                (put)="confirmEdit()"
                (fail)="handleAction()">
              </app-put-button>
              <button class="edit-button-cancel" (click)="cancelEdit()">Відмінити</button>
            </ng-container>
            <ng-template #editButtons>
              <button class="edit-button" (click)="editShip(ship)">Змінити</button>
              <app-delete-button
              [id]="ship.id.toString()"
              endpoint="admin/ships/"
              (delete)="handleAction()"
              (fail)="handleAction()">
            </app-delete-button>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
</div>