<form [formGroup]="rewardForm" (ngSubmit)="handleSubmit()">
  <span>{{error}}</span>
  <input type="text" placeholder="Назва" formControlName="name" [ngClass]="{ 'error': errorField === 'name' }" required />
  <input type='number' min="1" placeholder='Вартість' formControlName="cost" [ngClass]="{ 'error': errorField === 'cost' }" required />
  <input type="file" accept="image/*" (change)="handleImageChange($event)" required />
  <button class="cancel-button" type="button" (click)="handleClose()">Відміна</button>
  <button class="submit-button" type="submit">Додати</button>
</form>
