/* You can add global styles to this file, and also import other style files */
@import '@ctrl/ngx-emoji-mart/picker';
body {
    margin: 0;
    padding: 0;
}
app-search-input{
    margin-bottom: 5px;
}