button{
    background-color: #38515b;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 5px;
    font-weight: bold;
}
button:hover{
    opacity: 0.8;
}